# SQL Exercise



[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

In [ ]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Read the data in as a Pandas Dataframe
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRtLDEwVA8XXd7-XHjvaU7zkMhlRlFjXExCXJZKdUpa6xrYpyaxUifltjgaN5wTFRA_bg_UXyFOB1p7/pub?gid=1976095986&single=true&output=csv')
school.rename({'BACDistance (in Km)': 'BACDistance'}, axis=1, inplace=True)
# load table 2'
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR5UNxWcE8ctwA8OFn2v0RmWfoIEUK_9dUqmXQCV3lbJwZ7JLjdDz6P3YbcFbCMHUxswF07RawZzX0V/pub?gid=601105917&single=true&output=csv')

In [ ]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DistrictName                1249 non-null   object
 1   EstablishmentCode           1249 non-null   object
 2   EstablishmentName           1249 non-null   object
 3   BRCName                     1249 non-null   object
 4   CRCName                     1249 non-null   object
 5   SchoolLevel                 1246 non-null   object
 6   ManagementName              1246 non-null   object
 7   LocalityHabitation          1221 non-null   object
 8   SubdivisionName             1241 non-null   object
 9   ConstituencyName            1249 non-null   object
 10  RevenueBlockName            1249 non-null   object
 11  CivicBodyName               1249 non-null   object
 12  WardName                    1249 non-null   object
 13  PostOfficeName              1249 non-null   object
 14  PhoneNo                     794 non-null    object
 15  FaxNo                       20 non-null     object
 16  EmailID                     182 non-null    object
 17  Website                     24 non-null     object
 18  LocatedInRuralOrUrban       1249 non-null   object
 19  DiseCode                    439 non-null    object
 20  EstablishedDate             1230 non-null   object
 21  DistrictHQDistance (in Km)  1246 non-null   float64
 22  CRCDistance (in Km)         1246 non-null   float64
 23  BACDistance                 1246 non-null   float64
 24  IsRecognized                1246 non-null   object
 25  RecognizedBy                1004 non-null   object
 26  ContactPersonName           0 non-null      float64
 27  LowestClass                 1246 non-null   object
 28  HighestClass                1246 non-null   object
 29  BoardName                   784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

### Create a SQLite Database

In [ ]:
# create sqlite engine and create empty database name school
#engine = create_engine('sqlite:///school.db', echo=True)
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

In [ ]:
# add the school dataframe as a table in sqlite
sqlite_table1 = 'schools'

try:
  school.to_sql('schools', conn, if_exists='fail')
except:
  pass

# add the facility dataframe as a table in sqlite

sqlite_table2 = 'facilities'
try:
  facility.to_sql(sqlite_table2, conn, if_exists='fail')
except:
  pass

2022-10-04 23:58:17,060 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("schools")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("schools")

2022-10-04 23:58:17,074 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 23:58:17,079 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("schools")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("schools")

2022-10-04 23:58:17,083 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 23:58:17,122 INFO sqlalchemy.engine.Engine
CREATE TABLE schools (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE schools (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)

2022-10-04 23:58:17,130 INFO sqlalchemy.engine.Engine [no key 0.00806s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00806s] ()

2022-10-04 23:58:17,164 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 23:58:17,171 INFO sqlalchemy.engine.Engine CREATE INDEX ix_schools_index ON schools ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_schools_index ON schools ("index")

2022-10-04 23:58:17,179 INFO sqlalchemy.engine.Engine [no key 0.00841s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00841s] ()

2022-10-04 23:58:17,219 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 23:58:17,268 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-10-04 23:58:17,628 INFO sqlalchemy.engine.Engine INSERT INTO schools ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO schools ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2022-10-04 23:58:17,647 INFO sqlalchemy.engine.Engine [generated in 0.30934s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38681', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66806', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66806', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))

INFO:sqlalchemy.engine.Engine:[generated in 0.30934s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38681', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66806', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66806', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))

2022-10-04 23:58:17,724 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 23:58:17,774 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("facilities")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("facilities")

2022-10-04 23:58:17,786 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 23:58:17,801 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("facilities")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("facilities")

2022-10-04 23:58:17,810 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 23:58:17,832 INFO sqlalchemy.engine.Engine
CREATE TABLE facilities (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE facilities (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)

2022-10-04 23:58:17,837 INFO sqlalchemy.engine.Engine [no key 0.00542s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00542s] ()

2022-10-04 23:58:17,857 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 23:58:17,867 INFO sqlalchemy.engine.Engine CREATE INDEX ix_facilities_index ON facilities ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_facilities_index ON facilities ("index")

2022-10-04 23:58:17,875 INFO sqlalchemy.engine.Engine [no key 0.00797s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00797s] ()

2022-10-04 23:58:17,899 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 23:58:17,917 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-10-04 23:58:18,054 INFO sqlalchemy.engine.Engine INSERT INTO facilities ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO facilities ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2022-10-04 23:58:18,067 INFO sqlalchemy.engine.Engine [generated in 0.12132s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))

INFO:sqlalchemy.engine.Engine:[generated in 0.12132s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))

2022-10-04 23:58:18,096 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

- Let's examine the first 5 rows of the schools table

In [ ]:
# Using SELECT view schools data
query = """
SELECT *
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2022-10-04 23:58:18,153 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools

2022-10-04 23:58:18,167 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance,IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",None,Class 1,Class 10,C.B.S.E.
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,28856,60.0,6.0,6.0,Recognized,State Govt.,None,Class 1,Class 8,None
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,None,Class 1,Class 10,C.B.S.E.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,1244,West,S0336,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGSABONG BUSTY,Gyalshing,...,29221,45.0,4.0,5.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,None
1245,1245,West,S0591,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGTABONG(YUKSAM),Gyalshing,...,38508,52.0,2.0,5.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,C.B.S.E.
1246,1246,West,S1045,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Yuksom Brc,Yuksom Government Secondary School,PS,Private (Unaided),"LASSO, TASHIDING",Gyalshing,...,38754.66806,0.0,0.0,0.0,Recognized,GOVT. OF SIKKIM,None,Class 1,Class 5,None
1247,1247,West,S0340,TINGTING GAON GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TING TING GAON,Gyalshing,...,29587,36.0,3.0,6.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,None
1248,1248,West,S0542,TSONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TSONG,Gyalshing,...,28176,40.0,7.0,8.0,Recognized,State Government,None,Class 1,Class 5,C.B.S.E.

Select only the DistrictName and PhoneNo from the schools table

In [ ]:
# Using SELECT view DistrictName and PhoneNo from school
query = """
SELECT DistrictName, PhoneNo
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2022-10-04 23:58:18,334 INFO sqlalchemy.engine.Engine
SELECT DistrictName, PhoneNo
FROM schools

INFO:sqlalchemy.engine.Engine:
SELECT DistrictName, PhoneNo
FROM schools

2022-10-04 23:58:18,349 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

     DistrictName             PhoneNo
0            East                None
1            East          3592263812
2            East  03592263809/263960
3            East                None
4            East          9832082915
...           ...                 ...
1244         West          9733084983
1245         West                None
1246         West          9735054681
1247         West          9593377402
1248         West                None

[1249 rows x 2 columns]

What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [ ]:
# What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."
query = """
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2022-10-04 23:58:18,419 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools

INFO:sqlalchemy.engine.Engine:
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools

2022-10-04 23:58:18,435 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   avg_bac_distance
0         12.681822

What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [ ]:
# What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.
query = """
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2022-10-04 23:58:18,498 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

INFO:sqlalchemy.engine.Engine:
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

2022-10-04 23:58:18,517 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   avg_bac_distance
0         13.692647
1         12.830787
2         12.630872
3         10.863095
4          5.368421

Repeat the previous query, but only display results where the average distance is at least 10 km.

In [ ]:
# Repeat the previous query, but only display results where the average distance is at least 10 km.
query = """
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2022-10-04 23:58:18,589 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

INFO:sqlalchemy.engine.Engine:
SELECT AVG("BACDistance") as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

2022-10-04 23:58:18,605 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   avg_bac_distance
0         13.692647
1         12.830787
2         12.630872
3         10.863095

Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [ ]:
# Join the two tables together (school_details and school_facility_details). 
# Start by displaying all of the columns, but limit the resulting rows to just 2.
query = """
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode
LIMIT 2
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2022-10-04 23:58:18,676 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode
LIMIT 2

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode
LIMIT 2

2022-10-04 23:58:18,686 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [ ]:
# Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.
query = """
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2022-10-04 23:58:18,807 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"

2022-10-04 23:58:18,821 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
1,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
2,15,East,S1230,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Not Available,0,Not Available,0,Not Available,Available,1,Not Available,Not Available
3,16,East,S0768,SAWNEY GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,SAWNEY,Gangtok,...,SAWNEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Available,Available,1,Not Available,Not Available
4,20,East,S0131,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,UPPER PACHAK,Gangtok,...,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available

**Your Turn**

Build off the previous query, but order the results alphabetically by name.

In [ ]:
# Build off the previous query, but order the results alphabetically by name.
query = """
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"
ORDER BY s.EstablishmentName ASC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2022-10-04 23:58:18,925 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"
ORDER BY s.EstablishmentName ASC

INFO:sqlalchemy.engine.Engine:
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"
ORDER BY s.EstablishmentName ASC

2022-10-04 23:58:18,934 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,1219,West,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Yuksom Brc,Melli Government Secondary School,PS,Private (Unaided),RIMBI/ SINGLITAM BUSTY,Gyalshing,...,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,54,East,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,10TH MILE KARPONANG,Gangtok,...,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,816,South,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Temi Brc,Namphing Government Junior High School,PS,State Govt.,AAPGAZI,Namchi,...,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
3,1102,West,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Soreng Brc,Chumbong Government Secondary School,PS,State Govt.,AARUBOTEY,Soreng,...,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
4,209,East,S0108,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Pakyong Brc,Aho-Shanti Government Secondary School,PS,State Govt.,AHO-YANGTAM,Pakyong,...,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available