# SQL Exercise



[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read the data in as a Pandas Dataframe
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRtLDEwVA8XXd7-XHjvaU7zkMhlRlFjXExCXJZKdUpa6xrYpyaxUifltjgaN5wTFRA_bg_UXyFOB1p7/pub?gid=1976095986&single=true&output=csv')
# load table 2'
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR5UNxWcE8ctwA8OFn2v0RmWfoIEUK_9dUqmXQCV3lbJwZ7JLjdDz6P3YbcFbCMHUxswF07RawZzX0V/pub?gid=601105917&single=true&output=csv')

In [3]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DistrictName                1249 non-null   object
 1   EstablishmentCode           1249 non-null   object
 2   EstablishmentName           1249 non-null   object
 3   BRCName                     1249 non-null   object
 4   CRCName                     1249 non-null   object
 5   SchoolLevel                 1246 non-null   object
 6   ManagementName              1246 non-null   object
 7   LocalityHabitation          1221 non-null   object
 8   SubdivisionName             1241 non-null   object
 9   ConstituencyName            1249 non-null   object
 10  RevenueBlockName            1249 non-null   object
 11  CivicBodyName               1249 non-null   object
 12  WardName                    1249 non-null   object
 13  PostOfficeName              1249 non-null   object
 14  PhoneNo                     794 non-null    object
 15  FaxNo                       20 non-null     object
 16  EmailID                     182 non-null    object
 17  Website                     24 non-null     object
 18  LocatedInRuralOrUrban       1249 non-null   object
 19  DiseCode                    439 non-null    object
 20  EstablishedDate             1230 non-null   object
 21  DistrictHQDistance (in Km)  1246 non-null   float64
 22  CRCDistance (in Km)         1246 non-null   float64
 23  BACDistance (in Km)         1246 non-null   float64
 24  IsRecognized                1246 non-null   object
 25  RecognizedBy                1004 non-null   object
 26  ContactPersonName           0 non-null      float64
 27  LowestClass                 1246 non-null   object
 28  HighestClass                1246 non-null   object
 29  BoardName                   784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

In [4]:
facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EstablishmentCode           1256 non-null   object
 1   EstablishmentName           1256 non-null   object
 2   IsLibraryAvailable          1256 non-null   object
 3   AvailableBooksCount         1256 non-null   int64
 4   IsFireExtgAvailable         1256 non-null   object
 5   ExtinguisherCount           1256 non-null   int64
 6   HOIRoomAvailable            1256 non-null   object
 7   IsStaffRoomAvailable        1256 non-null   object
 8   NoofStaffRoom               1256 non-null   int64
 9   IsLockerForStaffAvailable   1256 non-null   object
 10  IsSportsStoreRoomAvailable  1256 non-null   object
dtypes: int64(3), object(8)
memory usage: 108.1+ KB

### Create a SQLite Database

In [5]:
# create sqlite engine and create empty database name school
#engine = create_engine('sqlite:///school.db', echo=True)
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

In [6]:
# add the school dataframe as a table in sqlite
sqlite_table1 = 'schools'

try:
  school.to_sql('schools', conn, if_exists='fail')
except:
  pass

# add the facility dataframe as a table in sqlite

sqlite_table2 = 'facilities'
try:
  facility.to_sql(sqlite_table2, conn, if_exists='fail')
except:
  pass

2023-02-07 13:42:18,436 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("schools")
2023-02-07 13:42:18,436 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-07 13:42:18,436 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("facilities")
2023-02-07 13:42:18,449 INFO sqlalchemy.engine.Engine [raw sql] ()

- Let's examine the first 5 rows of the schools table

In [7]:
# Using SELECT view schools data
query = """
SELECT *
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2023-02-07 13:42:18,453 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools

2023-02-07 13:42:18,453 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",None,Class 1,Class 10,C.B.S.E.
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,28856,60.0,6.0,6.0,Recognized,State Govt.,None,Class 1,Class 8,None
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,None,Class 1,Class 10,C.B.S.E.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,1244,West,S0336,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGSABONG BUSTY,Gyalshing,...,29221,45.0,4.0,5.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,None
1245,1245,West,S0591,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGTABONG(YUKSAM),Gyalshing,...,38508,52.0,2.0,5.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,C.B.S.E.
1246,1246,West,S1045,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Yuksom Brc,Yuksom Government Secondary School,PS,Private (Unaided),"LASSO, TASHIDING",Gyalshing,...,38754.66806,0.0,0.0,0.0,Recognized,GOVT. OF SIKKIM,None,Class 1,Class 5,None
1247,1247,West,S0340,TINGTING GAON GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TING TING GAON,Gyalshing,...,29587,36.0,3.0,6.0,Recognized,STATE GOVERNMENT,None,Class 1,Class 5,None
1248,1248,West,S0542,TSONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TSONG,Gyalshing,...,28176,40.0,7.0,8.0,Recognized,State Government,None,Class 1,Class 5,C.B.S.E.

Select only the DistrictName and PhoneNo from the schools table

In [8]:
# Using SELECT view DistrictName and PhoneNo from school
query = """
SELECT DistrictName, PhoneNo
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2023-02-07 13:42:18,504 INFO sqlalchemy.engine.Engine
SELECT DistrictName, PhoneNo
FROM schools

2023-02-07 13:42:18,504 INFO sqlalchemy.engine.Engine [raw sql] ()

     DistrictName             PhoneNo
0            East                None
1            East          3592263812
2            East  03592263809/263960
3            East                None
4            East          9832082915
...           ...                 ...
1244         West          9733084983
1245         West                None
1246         West          9735054681
1247         West          9593377402
1248         West                None

[1249 rows x 2 columns]

What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [9]:
# What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."
query = """
SELECT AVG(`BACDistance (in Km)`)
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2023-02-07 13:42:18,565 INFO sqlalchemy.engine.Engine
SELECT AVG(`BACDistance (in Km)`)
FROM schools

2023-02-07 13:42:18,566 INFO sqlalchemy.engine.Engine [raw sql] ()

   AVG(`BACDistance (in Km)`)
0                   12.681822

What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [10]:
# What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.
query = """
SELECT AVG(`BACDistance (in Km)`) as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2023-02-07 13:42:18,586 INFO sqlalchemy.engine.Engine
SELECT AVG(`BACDistance (in Km)`) as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

2023-02-07 13:42:18,586 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         13.692647
1         12.830787
2         12.630872
3         10.863095
4          5.368421

Repeat the previous query, but only display results where the average distance is at least 10 km.

In [11]:
# Repeat the previous query, but only display results where the average distance is at least 10 km.
query = """
SELECT AVG(`BACDistance (in Km)`) as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2023-02-07 13:42:18,605 INFO sqlalchemy.engine.Engine
SELECT AVG(`BACDistance (in Km)`) as avg_bac_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

2023-02-07 13:42:18,606 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         13.692647
1         12.830787
2         12.630872
3         10.863095

Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [12]:
# Join the two tables together (school_details and school_facility_details). 
# Start by displaying all of the columns, but limit the resulting rows to just 2.
query = """
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode
LIMIT 2
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2023-02-07 13:42:18,624 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode
LIMIT 2

2023-02-07 13:42:18,625 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [13]:
# Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.
query = """
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2023-02-07 13:42:18,653 INFO sqlalchemy.engine.Engine
SELECT *
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode AND s.SchoolLevel = "PS" AND f.IsLibraryAvailable = "Not Available"

2023-02-07 13:42:18,653 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
1,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
2,15,East,S1230,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Not Available,0,Not Available,0,Not Available,Available,1,Not Available,Not Available
3,16,East,S0768,SAWNEY GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,SAWNEY,Gangtok,...,SAWNEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Available,Available,1,Not Available,Not Available
4,20,East,S0131,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,UPPER PACHAK,Gangtok,...,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available

# **Your Turn**

Build off the previous query, but order the results alphabetically by name.

## 1. Get the EstablishmentName, SchoolLevel, and Website columns from the school

In [14]:
query = """
SELECT EstablishmentName, SchoolLevel, Website
from schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2023-02-07 13:42:18,688 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, SchoolLevel, Website
from schools

2023-02-07 13:42:18,689 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,Website
0,BUDANG GOVERNMENT PRIMARY SCHOOL (E),PS,None
1,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,SSS,None
2,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",SS,www.facebook.com/khanalkeshav (Group-CPA)
3,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,None
4,DUGA GOVERNMENT SECONDARY SCHOOL,SS,None

## 2. Display the EstablishmentName and DistrictHQDistance (in Km) for schools where the DistrictHQDistance (in Km) is more than 100 Km. Don't forget to use backticks! (`)

In [15]:
query = """
SELECT EstablishmentName, `DistrictHQDistance (in Km)`
from schools
where `DistrictHQDistance (in Km)` > 100
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2023-02-07 13:42:18,706 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, `DistrictHQDistance (in Km)`
from schools
where `DistrictHQDistance (in Km)` > 100

2023-02-07 13:42:18,706 INFO sqlalchemy.engine.Engine [raw sql] ()

                    EstablishmentName  DistrictHQDistance (in Km)
0  DODACHEN GOVERNMENT PRIMARY SCHOOL                       150.0
1   DEOLING GOVERNMENT PRIMARY SCHOOL                       107.0
2       PEMA TSEL ACADEMY(PHADAMCHEN)                       110.0
3    ZULUCK GOVERNMENT PRIMARY SCHOOL                       120.0
4   BHARENG GOVERNMENT PRIMARY SCHOOL                       150.0

## 3. (**CHALLENGE!**) Display the EstablishmentName, SchoolLevel, and AvailableBooksCount       for schools where the name of the school contains the words "JUNIOR HIGH."

### **Note** You will need to join the tables to complete this!

In [16]:
query = """
SELECT s.EstablishmentName, s.SchoolLevel, f.AvailableBooksCount
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode 
AND s.EstablishmentName LIKE '%JUNIOR HIGH%'
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

2023-02-07 13:42:18,719 INFO sqlalchemy.engine.Engine
SELECT s.EstablishmentName, s.SchoolLevel, f.AvailableBooksCount
FROM schools as s
JOIN facilities as f
WHERE s.EstablishmentCode = f.EstablishmentCode
AND s.EstablishmentName LIKE '%JUNIOR HIGH%'

2023-02-07 13:42:18,719 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,AvailableBooksCount
0,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,120
1,SAJONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,0
2,SINGLEYBONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,84
3,BORDANG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,100
4,RANGPO BAZAR GOVERNMENT JUNIOR HIGH SCHOOL,JHS,0