# SQL Exercise

<a href="https://colab.research.google.com/github/coding-dojo-data-science/week-12-lecture-1-SQL/blob/main/SQL_Exercise_Code-along_and_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

In [ ]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Read the data in as a Pandas Dataframe
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRtLDEwVA8XXd7-XHjvaU7zkMhlRlFjXExCXJZKdUpa6xrYpyaxUifltjgaN5wTFRA_bg_UXyFOB1p7/pub?gid=1976095986&single=true&output=csv')
# load table 2'
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR5UNxWcE8ctwA8OFn2v0RmWfoIEUK_9dUqmXQCV3lbJwZ7JLjdDz6P3YbcFbCMHUxswF07RawZzX0V/pub?gid=601105917&single=true&output=csv')

In [ ]:
school.info()

In [ ]:
facility.info()

### Create a SQLite Database

In [ ]:
# create sqlite engine and create empty database name school
#engine = create_engine('sqlite:///school.db', echo=True)
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

In [ ]:
# add the school dataframe as a table in sqlite
sqlite_table1 = 'schools'

try:
  school.to_sql('schools', conn, if_exists='fail')
except:
  pass

# add the facility dataframe as a table in sqlite

sqlite_table2 = 'facilities'
try:
  facility.to_sql(sqlite_table2, conn, if_exists='fail')
except:
  pass

- Let's examine the first 5 rows of the schools table

In [ ]:
# Using SELECT view schools data
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

Select only the DistrictName and PhoneNo from the schools table

In [ ]:
# Using SELECT view DistrictName and PhoneNo from school
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [ ]:
# What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [ ]:
# What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

Repeat the previous query, but only display results where the average distance is at least 10 km.

In [ ]:
# Repeat the previous query, but only display results where the average distance is at least 10 km.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [ ]:
# Join the two tables together (school_details and school_facility_details). 
# Start by displaying all of the columns, but limit the resulting rows to just 2.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [ ]:
# Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

# ü•∑üèΩ Breakout Challenge! ü•∑üèΩ

Try these SQL challenges!

## 1. Get the EstablishmentName, SchoolLevel, and Website columns from the school table

In [ ]:
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

## 2. Display the EstablishmentName and DistrictHQDistance (in Km) for schools where the DistrictHQDistance (in Km) is more than 100 Km. Don't forget to use backticks! (`)

In [ ]:
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

## 3. (**CHALLENGE!**) Display the EstablishmentName, SchoolLevel, and AvailableBooksCount       for schools where the name of the school contains the words "JUNIOR HIGH."

### **Note** You will need to join the tables to complete this!

In [ ]:
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()